apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: frps

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: frps
  version: 0.63.0
